<div class="painting">
  <div class="frame">
    <%= link_to image_tag(painting.img_thumb), painting if painting.img_thumb %>
  </div>
  <div class="name"><%= painting.name %></div>
  <div class="actions">
    <%= link_to "edit", edit_painting_path(painting) %> |
    <%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>